admin_password  = "yourpass"
admin_username  = "admin"
old_password    = "thiscanbefoundinourportal"
vpc_id_fse      = "vpc-4"
se_subnet_id    = "subnet-xxxxx"
image-size      = "m4.2xlarge"
controller_name = "remo-controller-tf"
public_ip       = "true"
shutdown_rules  = "noshut"
department_name = "FSE Team"
myregion        = "us-west-2"
remo_sg_name    = "remo_sg_ctl"
profile         = "default"
owner           = "remo"
